@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

.bg-dark-grid-pattern{
  background-image:
    linear-gradient(to right, rgb(255, 255, 255) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(255, 255, 255) 1px, transparent 1px);
  background-size: 40px 40px;
}

body,html,#root{
  height: 100%;
  @apply bg-white dark:bg-gray-900 transition-colors duration-300;

}